{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'body_style.css' %}">
    <title>Lab 3</title>
  </head>
  <body>
    <div class="row mt-5">
      <div class="col-4"></div>
      <div class="col-4">
        <div class="card text-center border-3 border-dark" style="width: 22rem;">
          <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3 mt-3">
              <p>To </p>
              {{form.to}}
            </div>
            <div class="mb-3">
              <p>From</p>
              {{form.dari}}
            </div>
            <div class="mb-3">
              <p>Title</p>
              {{form.title}}
            </div>
            <div class="mb-3">
              <p>Message</p>
              {{form.message}}
            </div>
            <div class="mb-3">
              <button class="btn btn-primary" onclick="window.location.href='../lab-4'">
                back
              </button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
      </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
