{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'body_style.css' %}">
    <title>Friend List</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../lab-1/friends">My Friends</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../lab-2">Lab 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../lab-3">Lab 3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../lab-4">Lab 4</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="text-center">
      <h1>Card Note</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% if note %} 
        {% for x in note %}
            <div class="row mt-3">
              <div class="col-3">
              </div>
              <div class="col-7">
                <div class="border border-dark border-3 card mb-5 mt-3 bg-warning" style="width: 18rem;">
                  <div class="card-body">
                    <h5 class="card-title">{{ x.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">From : {{ x.dari }}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">To : {{ x.to }}</h6>
                    <p class="card-text">{{ x.message }}</p>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
      {% endif %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
