{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'body_style.css' %}">
    <title>Friend List</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../lab-1/friends">My Friends</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../lab-2">Lab 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../lab-3">Lab 3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Lab 4</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="text-center">
      <h1 class="mt-3">This is my note</h1>
      <div class="row align-items-start mt-4">
        <div class="col-2"></div>
        <div class="col-8">
          <table class="table table-success table-striped">
            <thead>
              <tr>
                <th>To</th>
                <th>From</th>
                <th>Title</th>
                <th>Message</th>
              </tr>
            </thead>
            <!-- TODO loop from Friend model -->
            <!-- EXAMPLE SECTION -->
            {% if note %} 
              {% for x in note %}
              <tr>
                <td>{{ x.to }}</td>
                <td>{{ x.dari }}</td>
                <td>{{ x.title }}</td>
                <td>{{ x.message }}</td>
              </tr>
              {% endfor %}
            {% endif %}
            <!-- END SECTION -->
          </table>
        </div>
      </div>
      <button class="btn btn-primary" onclick="window.location.href='add-note'">
        Tambah data
      </button>
      <button class="btn btn-primary" onclick="window.location.href='note-list'">
        Card Data
      </button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>
</html>
