{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <style>
      body {
        background-color: #edf7f6;
      }
    </style> -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'body_style.css' %}">
    <title>Friend List</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="../">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">My Friends</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../lab-2">Lab 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../lab-3">Lab 3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../lab-4">Lab 4</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="text-center">
      <table>
        <tr>
          <th>Name</th>
          <th>NPM</th>
          <th>DOB</th>
        </tr>
        <!-- TODO loop from Friend model -->
        <!-- EXAMPLE SECTION -->
        {% if friend %} 
          {% for x in friend %}
          <tr>
            <td>{{ x.name }}</td>
            <td>{{ x.npm }}</td>
            <td>{{ x.dob }}</td>
          </tr>
          {% endfor %}
        {% endif %}
        <tr>
          <td>Asmara Nugi</td>
          <td>1706032156</td>
          <td>May 1, 1999</td>
        </tr>
        <tr>
          <td>Fadli Rais</td>
          <td>1706032370</td>
          <td>Sept 11, 1998</td>
        </tr>
        <!-- END SECTION -->
      </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
